html {
	background-color: #617140;
}

/* Custom Fonts */

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Custom Fonts End */



body {
	font-family: 'PTSans', "Times New Roman", serif;
	font-size: 87%;
}

a {
	text-decoration: none;
}


/* Main Column Typography */
.main-area h2 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 4px;
	word-spacing: 10px;
	text-shadow: 2px 10px 13px #999999;
	text-transform: uppercase;
	
}

.main-area p {
	font-size: 108%;
	text-align: justify;
	text-indent: 25px;
	line-height: 1.5;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

header {
	padding-top: 20px;
	color: #617140;
}

/* Site Navigation */
.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0px;
	padding: 0px;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.site-nav a:hover {
	background-color: #e5e9dc;
}
/* Site Navigation End */
	

	
.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}



.sidebar {
	position: relative;
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 85%;
	z-index: 10;
}

footer {
	text-align: center;
	font-size: 85%;
	font-color: #9999999;
	padding-bottom: 20px;
	padding-top: 20px;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}